@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0%;
  font-family: "lato";
}

body {
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #286e77;
}

.socials {
  color: white;
  font-size: 25px;
}

h1 {
  font-size: 1.3rem;
  color: #093641;
}

h6 {
  color: white;
  font-size: 10px;
  font-family: "Montserrat";
  color: #093641;
}

p {
  margin-top: 10px;
  font-size: 0.7rem;
}

.information {
  display: inline-block;
  width: 60%;
  margin-left: 20px;
  margin-top: 20px;
  background-color: white;
}

@media (min-width: 550px) and (max-width: 800px) {
  .information {
    width: 40%;
    margin-left: 20px;
    margin-top: 30px;
  }

  h1 {
    font-size: 1.7rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media (min-width: 801px) and (max-width: 1800px) {
  .information {
    width: 40%;
    margin-left: 20px;
    margin-top: 50px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }
}
