@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "lato";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-left: 35px;
  margin-top: 25px;
}

footer {
  background-color: #286e77;
  margin-top: 100px;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.socials {
  color: white;
  font-size: 25px;
}

h6 {
  color: white;
  font-size: 10px;
  font-family: "Montserrat";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
}

.checkout-forms {
  display: flex;
}

.checkouts {
  width: 60%;
}

.shipping-form {
  display: flex;
  width: 100%;
  height: 275px;
  overflow: hidden;
  border-style: solid;
  border-color: #e3e3e3;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  margin-bottom: 20px;
}

.shippingform-content {
  padding: 20px;
  width: 100%;
  position: relative;
  text-align: center;
}

.payment-form {
  display: flex;
  width: 100%;
  height: 275px;
  overflow: hidden;
  border-style: solid;
  border-color: #e3e3e3;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  margin-bottom: 20px;
  text-align: center;
}

.paymentform-content {
  padding: 20px;
  width: 100%;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 350px) {
  .shipping-form {
    height: 200px;
  }

  .payment-form {
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.1rem;
  }
  .shipping-form {
    height: 280px;
    width: 325px;
  }

  .payment-form {
    height: 280px;
    width: 325px;
  }
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 95%;
  }
}
