* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/IndexImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #286e77;
}

footer {
  background-color: #286e77;
  margin-top: 100px;
  padding: 30px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.socials {
  color: white;
  font-size: 25px;
}

h6 {
  color: white;
  font-size: 10px;
  font-family: "Montserrat";
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  color: white;
  word-spacing: 100vw;
  text-transform: uppercase;
  font-family: "lato";
  justify-content: right;
  font-size: 2rem;
  margin-right: 1rem;
  text-align: right;
  z-index: 100;
}

@media (min-width: 730px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
}
